@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global reset */
html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #0a0c10;
}

body {
  overflow: hidden;
}
